---
layout: default
---

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date-author">
    <img
      src="{{ page.author_image | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ page.author }}"
      class="author-image"
    />
    <div class="author-details">
      <p><strong>بقلم: {{ page.author }}</strong></p>
      <p>
        كُتب في {{ page.date | date: "%Y/%m/%d" }} الموافق {{ page.hijri_date }}
      </p>
    </div>
  </div>

  <div class="share-button" onclick="copyLink()">
    نسخ رابط المقال
    <i class="fas fa-link"></i>
  </div>

  <div class="entry">{{ content }}</div>

  {% include disqus.html %}
</article>

<script>
  function copyLink() {
    const link = window.location.href;
    navigator.clipboard
      .writeText(link)
      .then(() => {
        Swal.fire({
          icon: "success",
          title: "تم النسخ!",
          text: "تم نسخ رابط المقال بنجاح إلى الحافظة.",
          confirmButtonText: "حسناً",
        });
      })
      .catch((error) => {
        Swal.fire({
          icon: "error",
          title: "خطأ",
          text: "حدث خطأ أثناء النسخ. حاول مرة أخرى.",
          confirmButtonText: "حسناً",
        });
      });
  }
</script>
