<div class="content arabic">
  <h2>سياسة الخصوصية</h2>
  <p>
    نحن في [س - Seen] نستخدم Google Analytics لتحسين تجربة المستخدمين وتحليل
    حركة المرور على موقعنا. يساعدنا هذا في فهم كيف يستخدم الزوار موقعنا ويساهم
    في تحسين خدماتنا.
  </p>
  <p>
    <strong>جمع البيانات</strong>: نستخدم Google Analytics لجمع معلومات حول
    الزوار، مثل الموقع الجغرافي، نوع الجهاز، نظام التشغيل، وكيفية تفاعلهم مع
    موقعنا. نحن لا نجمع معلومات شخصية تعرف بك بشكل مباشر.
  </p>
  <p>
    <strong>الخصوصية والتخزين</strong>: نحافظ على خصوصية هذه البيانات ونضمن
    تخزينها بأمان.
  </p>
  <p>
    <strong>الاختيار والسيطرة</strong>: إذا كنت تفضل عدم تتبع نشاطك على الموقع،
    يمكنك استخدام إعدادات المتصفح لتعطيل تتبع Google Analytics أو استخدام إضافات
    خاصة لهذا الغرض.
  </p>
  <p>
    <strong>التحديثات</strong>: قد نحدث سياسة الخصوصية هذه من وقت لآخر، ونشجعك
    على مراجعتها بشكل دوري.
  </p>
  <p>
    نحن ملتزمون بحماية خصوصيتك ونوفر نفس مستوى الحماية لجميع مستخدمينا، بغض
    النظر عن موقعهم أو جنسيتهم. لمعرفة المزيد عن سياسات نقل البيانات لدى Google،
    <a
      href="https://support.google.com/analytics/answer/6004245?hl=en"
      target="_blank"
      rel="noreferrer"
      >اضغط هنا</a
    >
  </p>
</div>

<div class="content english">
  <h2>Privacy Policy</h2>
  <p>
    At [س - Seen], we use Google Analytics to improve user experience and
    analyze traffic on our site. This helps us understand how visitors use our
    site and contributes to improving our services.
  </p>
  <p>
    <strong>Data Collection</strong>: We use Google Analytics to collect
    information about visitors, such as geographic location, device type,
    operating system, and how they interact with our site. We do not collect
    personally identifiable information directly.
  </p>
  <p>
    <strong>Privacy and Storage</strong>: We maintain the privacy of this data
    and ensure it is stored securely.
  </p>
  <p>
    <strong>Choice and Control</strong>: If you prefer not to have your activity
    on the site tracked, you can use browser settings to disable Google
    Analytics tracking or use special add-ons for this purpose.
  </p>
  <p>
    <strong>Updates</strong>: We may update this privacy policy from time to
    time, and we encourage you to review it periodically.
  </p>
  <p>
    We are committed to protecting your privacy and provide the same level of
    protection to all our users, regardless of their location or nationality. To
    learn more about Google's data transfer policies,
    <a
      href="https://support.google.com/analytics/answer/7318509?hl=en"
      target="_blank"
      rel="noreferrer"
      >Click Here
    </a>
  </p>
</div>
